#inhalte-werden-zentriert {
  display: flex;
  align-items: center;
  justify-content: center;
}
#fehler{
	color: red;
	background-color: Coral;
}

input[type="lol"]
{
    font-size:24px;
}

body{
	background: Dimgray;
	font-size: 15px;
	color: white;
}

header{
	text-align: center;
	color: black;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 20px;
}
h3{
	font-size: 30px;
	margin-bottom:10px;
}

.headline{
	
	vertical-align : middle;
}

.tooltip {
  position: relative;
}

.tooltip_content {
}
.tooltip_content:hover + .tooltip_content_hidden {
  opacity: 1;
}


.tooltip_content_hidden {
  position: absolute;
  margin-top: -35px;
  margin-left: -100px;
  opacity: 0;
  transition: opacity .1s ease-in .5s;
  color: black;
  font-weight: bold;
}
